node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

*.log
.vscode
.idea
.DS_Store

#openzeppelin
.openzeppelin

#deploy files
./scripts/deployCustom.ts
./scripts/upgradeCustom.ts
./scripts/gasUsed.ts

.npmrc
